<!DOCTYPE html>
<html>
<head>
    <meta charset="utf8"/>
    <title>507 Final Project</title>
</head>

<body>
 <h1> 507 Final Project: Artists and lyrics </h1>
 <form action="/handle_form" method="POST">
    <p>
        <h2>Action Menu</h2>
        <input type="radio" name="action" id="option1" value = '0'>Display of detailed information</br>
        <input type="radio" name="action" id="option2" value = '1'>The number of songs of each artists</br>
        <input type="radio" name="action" id="option3" value = '2'>The release date of the songs</br>
        <input type="radio" name="action" id="option4" value = '3'>The exact number of lyric words of the songs</br>
        <input type="radio" name="action" id="option5" value = '4'>The mean of lyrics words number the songs of each artists</br>
        <input type="radio" name="action" id="option6" value = '5'>The appearance of a word in lyrics of each artists</br></br></br>
    </p>
    <p>
        The artist you are looking for:(Please separate by #)</br>
        <input name="artist" type="text"/></br>
        e.g: Britney Spears # Bruno Mars # Ariana Grande</br></br>
        The song you are looking for: (Please separate by #)</br>
        <input name="song" type="text"/></br>
        e.g: Wish You Were Here # Firework # In the End</br></br>
        The word you are looking for: (Please separate by #)</br>
        <input name="word" type="text"/></br>
        e.g: love</br></br>
    </p>

    <input type="submit" value="Submit!"/> 
 </form> 
 
</body>

</html>